html { 
    background-color: #19171a;
    /* background: url(bg.png) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: 10px;
    overflow: hidden;
}

body {
    font-family: '애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','Helvetica Neue','Helvetica','나눔바른고딕','NanumBarunGothic','나눔바른고딕OTF','NanumBarunGothicOTF','Noto Sans','Noto+Sans','notokr-demilight','나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','sans-serif';
    color: #fffdfa;
}

img {    
    display: -webkit-flex;
    width: 100%;
    height: auto;
}

.bg {
    margin: 0;
}

.btn_deny {
    text-align: center;
    line-height: 6vh;
    margin: auto;
    width: 90%;
    height: 6.5vh;
    font-size: 4vw;
    border-radius: 30px;
    box-sizing: border-box;
    border: 2.1px solid #422e28;
    background-color: #5a433d;
}

.btn_menu {    
    position: absolute;
    font-size: 1.5rem;
    top: 5.4%;
    left: 5.9%;
    width: 12.2vw;
    height: 3.9vh;
    color: #fffdfa;
    box-sizing: border-box;
    border: 1.1px solid #fffdfa;
    border-radius: 7px;
    background-color: transparent;
}

.block_date {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    top: 19.4%;
    left: 50%;
    width: fit-content;
    font-size: 2.64vh;
}

.bg_user_out {
    width: 100%;
    height: 26vh;
    text-align: center;
    background-color: #b22d2e;
}

.circle {
    position: absolute;
    margin: auto;
}