.rotate-circle {  
  position: absolute;
  width: 304;
  height: auto;
  left: 83px;
  top: 390px;
	-webkit-animation: rotate-center 5s steps(55, start) infinite both;
  animation: rotate-center 5s steps(55, start) infinite both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
  