body {
  font-family: '애플 SD 산돌고딕 Neo','Apple SD Gothic Neo','Helvetica Neue','Helvetica','나눔바른고딕','NanumBarunGothic','나눔바른고딕OTF','NanumBarunGothicOTF','Noto Sans','Noto+Sans','notokr-demilight','나눔고딕','NanumGothic','맑은 고딕','Malgun Gothic','sans-serif';
  
  width: 100%;
  height: 100%;
}

.btn_menu {
  position: absolute;
  width: 51px;
  padding-top: 44px;
  padding-left: 24px;
  border: 0;
  background-color: transparent;
}

.circle {
    align-items: center;
    margin-left: 17.5%;
    position: relative;
    width: 65%;
    bottom: -42.2%;
}

.txt {
}

.txt_date {
  position: absolute;
  color: #fefbfb;
  top: 59%;
  padding-left: 44.5%;
  font-size: 1.2em;
}

.txt_time  {
    position: absolute;
    color: #fefbfb;
    top: 61.8%;
    padding-left: 39.5%;
    letter-spacing: 3px;
    font-size: 1.2em;
}

.txt_version {
    color: #fefbfb;
    position: absolute;
    top: 95%;
    padding-left: 36.5%;
    font-size: 1em;
}

.background {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image:url(bg.png);
}
